.Online {
    text-align: center;
    margin-top: 15vh;
}

.Online-game {
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    margin-top: 5vh;
}

.btn {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    margin: 20px;
}

.Players {
    font-size: 40px;
    font-weight: bolder;
}

.Players span {
    font-size: 30px;
    font-weight: normal;
}

.gameplayer {
    height: 25px;
    margin-bottom: 20px;
}

.game-board-online{
    margin: auto;
}

/* Modal overlay styling */
.ModalOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; 
    background-color: rgba(0, 0, 0, 0.75);
}

/* styling inside modal */
.Modal {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    text-align: center;
}

.Modaldiv {
    margin-top: 5vh;
}

.Modal button {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    margin: 20px;
}

.Modal input {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
    text-align: center;
    width: 70px;
}

/* chat design */
.ChatModal .chatroom {
    margin-top: 60px;
}

.ChatModal .messagebox {
    width: calc(100% - 10px);
    margin: auto;
    border: 2px solid black;
    border-radius: 5px;
    height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.ChatModal h1 {
    float: left;
    margin: 0;
    font-size: 30px;
}

.ChatModal #Close-btn {
    float: right;
    font-family: 'Pangolin', cursive;
    font-size: 30px;
    margin: 0;
    background: inherit;
    border: 2px solid black;
    border-radius: 5px;
}

.ChatModal .chatroom input {
    text-align: center;
    margin-top: 20px;
    width: calc(100% - 200px);
}

.ChatModal .chatroom .YourMessagediv {
    margin: 10px;
    text-align: right;
}

.ChatModal .chatroom .PartnerMessagediv {
    margin: 10px;
    text-align: left;
}

.ChatModal .chatroom .YourMessage {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px;
    word-break: break-all;
}

.ChatModal .chatroom .PartnerMessage {
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 5px 10px;
    word-break: break-all;
}

/* winpage design */
.winModalOv {
    background-color: rgba(0, 0, 0, 0.5);
}

.wonModal {
    background-image: url("../Images/stars.gif");
}

.winModal {
    top: 150px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    animation-name: modalentry;
    animation-duration: 3s;
}

@keyframes modalentry {
    0%   {top: -4000px;}
  }

.winModal .Modaldiv {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    background-color: white;
    height: 200px;
    width: 270px;
    margin: auto;
}

.winModal .Modaldiv .wintitle h1 {
    margin: 20px 0 25px;
}

/* media */
@media (max-width: 450px) {
    .Modal .chatroom input {
        width: 90%;
    }
}